.usecaseCard {
  width: 100%;
  padding: 20px;
  text-align: center;
}

.usecaseCardIcon {
  background-color: var(--secondary-green-15);
  border-radius: 8px;
  display: inline-block;
  width: 44px;
  height: 44px;
  line-height: 44px;
}

.usecaseCardIcon svg {
  height: 44px;
}

.usecaseDescription {
  color: var(--secondary-black-80);
  font-size: 14px;
  line-height: 21px;
  margin-top: 6px;
}

.usecaseCards {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}
