.connectCard {
  width: 100%;
  padding: 20px 10px;
  text-align: center;
}

.connectCardIcon {
  background-color: var(--secondary-green-15);
  border-radius: 8px;
  display: inline-block;
  width: 44px;
  height: 44px;
  line-height: 44px;
  margin-bottom: 14px;
}

.connectCardIcon svg {
  height: 44px;
}

.connectCards {
  grid-template-columns: repeat(auto-fit, minmax(128px, 1fr));
  margin-bottom: 20px;
}
