.showcaseCard {
  width: 100%;
  min-height: 304px;
}

.showcaseCardImg {
  border-radius: 8px 8px 0px 0px;
  height: 132px;
  overflow: hidden;
}

.showcaseCardImg img {
  width: 100%;
  height: auto;
}

.showcaseCardTitle {
  border-top: 1px solid var(--ifm-color-emphasis-300);
  border-bottom: 1px solid var(--ifm-color-emphasis-300);
}

.showcaseCardTitle div {
  font-size: 1.3rem;
  font-weight: 500;
}
