.showcaseCard {
  width: 100%;
}

.showcaseCardImg {
  border-radius: 8px 8px 0px 0px;
  height: 140px;
  overflow: hidden;
}

.showcaseCardImg img {
  width: 100%;
  height: auto;
}

.cardDetails {
  height: calc(100% - 140px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.cardText {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375rem;
}

.cardTags {
  display: flex;
  align-items: center;
}

.cardTag {
  border-radius: 40px;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 10%;
  margin-right: 10px;
  padding: 4px 12px;
}

.cardTag[datatype="identity"] {
  background: #FFEBEC;
  color: #E13238;
}

.cardTag[datatype="social"] {
  background: #EBF2FC;
  color: #306CCE;
}

.cardTag[datatype="NFT"] {
  background: #E6F6E6;
  color: #009400;
}

.cardTag[datatype="tool"] {
  background: #FFF8E6;
  color: #E6A700;
}

.showcaseCards {
  grid-gap: 24px;
}
