/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&display=swap");

/* You can override the default Infima variables here. */
:root {
  --font-family-primary: "Inter", sans-serif;
  --primary-white: #ffffff;
  --primary-black: #000000;
  --primary-green: #598576;
  --primary-dark: #161f29;
  --secondary-black-80: #474747;
  --secondary-black-50: #808080;
  --secondary-black-10: #e6e6e6;
  --secondary-black-5: #f2f2f2;
  --secondary-green-15: rgba(89, 133, 118, 0.15);
  --ifm-color-primary: var(--primary-black);
  --ifm-color-primary-dark: var(--primary-black);
  --ifm-color-primary-darker: var(--primary-black);
  --ifm-color-primary-darkest: var(--primary-black);
  --ifm-color-primary-light: var(--primary-black);
  --ifm-color-primary-lighter: var(--primary-black);
  --ifm-color-primary-lightest: var(--primary-black);
  --ifm-hover-overlay: var(--secondary-black-5);
  --ifm-color-emphasis-300: var(--secondary-black-10);
  --ifm-code-font-size: 95%;
  --ifm-color-secondary: var(--secondary-black-80);
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

/* CSS OVERWRITE */
*,
*::before,
*::after {
  color: var(--secondary-black-80);
  font-family: var(--font-family-primary);
  font-weight: 300;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
}

code {
  background-color: var(--secondary-black-5);
  border: 1px solid var(--secondary-black-10);
  color: var(--primary-black);
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 18px;
  padding: 2px 8px;
  text-align: left;
}

a {
  color: var(--secondary-black-80);
}

h1,
h2,
h3 {
  font-family: var(--font-family-primary);
  font-weight: 600;
}

h1 {
  color: var(--primary-black);
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin: 0px 0px 40px 0px;
}

h2 {
  color: var(--primary-black);
  font-size: 1.375rem;
  line-height: 1.625rem;
  margin: 0px 0px 24px 0px;
}

h3 {
  color: var(--primary-dark);
  font-size: 1.125rem;
  line-height: 22px;
  margin: 0;
}

h4 {
  font-size: 0.875rem;
  line-height: 1rem;
}

main {
  min-height: calc(100vh - 60px);
}

p,
article li {
  font-family: var(--font-family-primary);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-align: left;
}

strong {
  font-weight: 600;
}

::selection {
  background: var(--secondary-green-15);
  color: var(--primary-black);
}

table {
  min-width: 100%;
}

table thead tr,
table thead th,
table tbody tr,
table tbody td {
  border: none;
}

table thead {
  background-color: var(--secondary-black-10);
  color: var(--primary-black);
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1rem;
}

table tbody {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 150%;
}

table thead tr th:first-child,
table tbody tr td:first-child {
  border-radius: 8px 0px 0px 8px;
}

table thead tr th:last-child,
table tbody tr td:last-child {
  border-radius: 0px 8px 8px 0px;
}

table tbody tr:nth-child(2n) {
  background-color: var(--secondary-black-5);
}

table code {
  background-color: var(--primary-white);
}

.markdown a {
  text-decoration: underline;
  font-weight: 600;
}

.markdown a:hover {
  font-weight: 600;
}

.tabs-container .tabs__item {
  border-radius: 2px;
  color: var(--secondary-black-50);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.05em;
  text-align: center;
  padding: 10px 20px;
}

.tabs__item[aria-selected="true"] {
  color: var(--primary-black);
  border-bottom: 4px solid var(--primary-green);
}

.theme-last-updated {
  font-size: 0.75rem;
}

.theme-edit-this-page,
.theme-doc-version-badge {
  color: var(--primary-green);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.7px;
}

.theme-edit-this-page svg {
  transform: scale(0.9);
}

.theme-doc-version-badge {
  background-color: var(--secondary-black-5);
  border: none;
  border-radius: 40px;
  font-size: 0.75rem;
  padding: 4px 10px;
  margin-bottom: 10px;
}

/* NAVBAR */
.navbar {
  border-bottom: 1px solid var(--secondary-black-10);
  box-shadow: none;
  height: 60px;
  padding-right: 24px;
}

.navbar img {
  height: 40px;
}

.navbar__logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar-sidebar__back {
  display: none;
}

.header-github-link:hover {
  opacity: 0.6;
}

.header-github-link::before {
  content: "";
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
  font-size: 0px;
}

nav.theme-doc-breadcrumbs {
  display: none;
}

/* CODE BLOCK */
.theme-code-block {
  border-radius: 10px;
}

.theme-code-block * {
  background-color: var(--secondary-black-5);
}

.theme-code-block div:first-child {
  background-color: var(--secondary-black-5) !important;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
}

.theme-code-block pre {
  background-color: var(--secondary-black-5);
}

.theme-code-block svg path {
  background-color: transparent;
  fill: var(--primary-green);
}

.theme-code-block span {
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 22px;
}

.theme-code-block span.token.keyword {
  color: #4630ce !important;
}

.theme-code-block span.token.function {
  color: #e13238 !important;
}

.theme-code-block span.token.constant {
  color: #19cec3 !important;
}

.theme-code-block span.token.string {
  color: #e1329b !important;
}

/* SIDEBAR */
aside {
  background-color: var(--primary-white);
}

.menu__link {
  border-radius: 8px;
  color: var(--secondary-black-50);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.75rem;
  letter-spacing: 0.7px;
}

.menu__link--active {
  color: var(--primary-black);
  font-weight: 600;
}

.table-of-contents__link {
  border-radius: 8px;
  color: var(--primary-black);
  padding: 8px 16px;
}

.table-of-contents__link--active {
  background-color: var(--secondary-black-5);
  font-weight: 500;
}

.pagination-nav__link {
  border: 1px solid transparent;
  padding: 16px 14px;
}

.pagination-nav__link:hover {
  border: 1px solid var(--primary-green);
}

.pagination-nav__sublabel {
  font-weight: 600;
  line-height: 1.0625rem;
  letter-spacing: 0.1em;
}

.pagination-nav__label {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.375rem;
}

.pagination-nav__link--next .pagination-nav__label::after,
.pagination-nav__link--prev .pagination-nav__label::before {
  content: "";
}

.pagination-nav__link--prev,
.pagination-nav__link--next {
  position: relative;
}

.pagination-nav__link--prev {
  padding: 8px 8px 8px 44px;
}

.pagination-nav__link--next {
  padding: 8px 44px 8px 8px;
}

.pagination-nav__link--next .pagination-nav__label::after {
  content: url(/img/v0.4.0/icons/active/arrow_forward.svg);
  position: absolute;
  top: 16px;
  right: 8px;
}

.pagination-nav__link--prev .pagination-nav__label::before {
  content: url(/img/v0.4.0/icons/active/arrow_back.svg);
  position: absolute;
  top: 16px;
  left: 8px;
}

/* CARDS */
.card {
  background-color: var(--primary-white);
  border: 1px solid var(--secondary-black-10);
  border-radius: 10px;
  box-shadow: none;
  user-select: none;
  position: relative;
}

.cardTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  padding-bottom: 0px;
}

.cardTitle div {
  display: flex;
  align-items: center;
}

.cardTitle div div {
  background-color: var(--primary-green);
  border-radius: 1px;
  width: 6px;
  height: 6px;
  margin-right: 10px;
}

.cardTitleLink {
  background-color: var(--secondary-green-15);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  width: 28px;
  border-radius: 8px;
  padding: 2px;
}

.cardDescription {
  color: var(--secondary-black-80);
  font-size: 0.875rem;
  line-height: 1.375rem;
  padding: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  grid-gap: 14px;
  justify-items: center;
  max-width: 100%;
}

/* FOOTER */
.footer {
  background-color: var(--primary-white);
  border-top: 1px solid var(--secondary-black-10);
  padding: 0;
}

.footerDesign {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.footerDesign span {
  color: #808080;
  font-family: var(--font-family-primary);
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 0.75rem;
  margin-right: 10px;
  letter-spacing: 0.5px;
  text-align: left;
}

.footerDesign svg {
  transform: scale(1.25);
}

/* FORMULAS */
.katex-mathml,
.katex-html {
  color: var(--secondary-black-80);
  font-family: var(--font-family-primary);
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0em;
  text-align: center;
}

/* CODESANDBOX */
iframe {
  box-shadow: var(--box-shadow);
  width: 100%;
  height: 500px;
  border: 0;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

/* PLAYGROUND */
iframe[title="playground"] {
  min-height: 500px;
  height: calc(100vh - 240px);
}

/* SEARCH */
.navbar__items--right button.DocSearch-Button {
  background-color: #ebedf0;
}

.DocSearch-Hit[aria-selected="true"] .DocSearch-Hit-icon path,
.DocSearch-Hit[aria-selected="true"] .DocSearch-Hit-Tree path,
.DocSearch-Hit[aria-selected="true"] .DocSearch-Hit-action path {
  stroke: var(--primary-white);
}

/* ADMONITIONS */
.alert--success {
  --ifm-alert-background-color: #e6f6e6;
  --ifm-alert-border-color: #009400;
  --ifm-alert-background-color-highlight: #e6f6e6;
  --ifm-alert-foreground-color: #003100;
}

.alert--success h5,
.alert--success p,
.alert--success a,
.alert--success strong {
  color: #003100;
}

.alert--secondary {
  --ifm-alert-background-color: #f2f2f2;
  --ifm-alert-border-color: #808080;
  --ifm-alert-background-color-highlight: #f2f2f2;
  --ifm-alert-foreground-color: #000000;
}

.alert--secondary h5,
.alert--secondary p,
.alert--secondary a,
.alert--secondary strong {
  color: #000000;
}

.alert--info {
  --ifm-alert-background-color: #eef9fd;
  --ifm-alert-border-color: #4cb3d4;
  --ifm-alert-background-color-highlight: #eef9fd;
  --ifm-alert-foreground-color: #193c47;
}

.alert--info h5,
.alert--info p,
.alert--info a,
.alert--info strong {
  color: #193c47;
}

.alert--warning {
  --ifm-alert-background-color: #fff8e6;
  --ifm-alert-border-color: #e6a700;
  --ifm-alert-background-color-highlight: #fff8e6;
  --ifm-alert-foreground-color: #4d3800;
}

.alert--warning h5,
.alert--warning p,
.alert--warning a,
.alert--warning strong {
  color: #4d3800;
}

.admonition svg {
  display: none;
}

.admonition p {
  padding-left: 6px;
}

.admonition svg {
  display: none;
}

.admonition p {
  padding-left: 6px;
}

.admonition svg {
  display: none;
}

.admonition p {
  padding-left: 6px;
}

/* CUSTOM EMOJIS */
.menu__list-item--collapsed .menu__link--sublist::after,
.menu__list-item--collapsed .menu__caret:before {
  transform: rotateZ(0deg) translateX(0);
}

.menu__link--sublist-caret::after {
  background: transparent;
  content: url(/img/v0.4.0/icons/default/arrow_drop_down.svg);
  transition: none;
  text-align: center;
}

.theme-doc-sidebar-item-link a::before {
  align-self: center;
  content: "";
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url(/img/v0.4.0/icons/default/waving_hand.svg);
  width: 22px;
  height: 23px;
  text-align: center;
  padding-right: 11px;
}

.theme-doc-sidebar-item-link a.menu__link--active::before {
  background-image: url(/img/v0.4.0/icons/active/waving_hand.svg);
}

.menu__link--sublist.menu__link--sublist-caret::before,
.menu__link--sublist.menu__link--sublist-caret::after {
  width: 22px;
  line-height: 18px;
  text-align: center;
}

ul.menu__list li .menu__link--sublist.menu__link--sublist-caret::before,
ul.menu__list
  li
  .menu__link--sublist.menu__link--sublist-caret.menu__link--active::before {
  content: "";
  background-color: transparent;
  background-repeat: no-repeat;
  width: 23px;
  height: 1.4375rem;
  line-height: 2.15rem;
}

.menu__link--sublist.menu__link--sublist-caret {
  display: grid;
  grid-template-columns: 22px 1fr 11px;
  grid-gap: 11px;
  align-items: center;
}

ul.menu__list
  li:nth-child(2)
  .menu__link--sublist.menu__link--sublist-caret::before {
  content: url(/img/v0.4.0/icons/default/assignment.svg);
}
ul.menu__list
  li:nth-child(2)
  .menu__link--sublist.menu__link--sublist-caret.menu__link--active::before {
  content: url(/img/v0.4.0/icons/active/assignment.svg);
}

ul.menu__list
  li:nth-child(3)
  .menu__link--sublist.menu__link--sublist-caret::before {
  content: url(/img/v0.4.0/icons/default/lightbulb.svg);
}
ul.menu__list
  li:nth-child(3)
  .menu__link--sublist.menu__link--sublist-caret.menu__link--active::before {
  content: url(/img/v0.4.0/icons/active/lightbulb.svg);
}

ul.menu__list
  li:nth-child(4)
  .menu__link--sublist.menu__link--sublist-caret::before {
  content: url(/img/v0.4.0/icons/default/construction.svg);
}
ul.menu__list
  li:nth-child(4)
  .menu__link--sublist.menu__link--sublist-caret.menu__link--active::before {
  content: url(/img/v0.4.0/icons/active/construction.svg);
}

ul.menu__list
  li:nth-child(5)
  .menu__link--sublist.menu__link--sublist-caret::before {
  content: url(/img/v0.4.0/icons/default/smart_toy.svg);
}
ul.menu__list
  li:nth-child(5)
  .menu__link--sublist.menu__link--sublist-caret.menu__link--active::before {
  content: url(/img/v0.4.0/icons/active/smart_toy.svg);
}

ul.menu__list
  li:nth-child(6)
  .menu__link--sublist.menu__link--sublist-caret:first-child::before {
  content: url(/img/v0.4.0/icons/default/cloud.svg);
}
ul.menu__list
  li:nth-child(6)
  .menu__link--sublist.menu__link--sublist-caret:first-child.menu__link--active::before {
  content: url(/img/v0.4.0/icons/active/cloud.svg);
}

ul.menu__list
  li:nth-child(7)
  .menu__link--sublist.menu__link--sublist-caret::before {
  content: url(/img/v0.4.0/icons/default/settings.svg);
}
ul.menu__list
  li:nth-child(7)
  .menu__link--sublist.menu__link--sublist-caret.menu__link--active::before {
  content: url(/img/v0.4.0/icons/active/settings.svg);
}

ul.menu__list
  li:nth-child(8)
  .menu__link--sublist.menu__link--sublist-caret::before {
  content: url(/img/v0.4.0/icons/default/auto_stories.svg);
}
ul.menu__list
  li:nth-child(8)
  .menu__link--sublist.menu__link--sublist-caret.menu__link--active::before {
  content: url(/img/v0.4.0/icons/active/auto_stories.svg);
}

ul.menu__list
  li:nth-child(9)
  .menu__link--sublist.menu__link--sublist-caret::before {
  content: url(/img/v0.4.0/icons/default/published_with_changes.svg);
}
ul.menu__list
  li:nth-child(9)
  .menu__link--sublist.menu__link--sublist-caret.menu__link--active::before {
  content: url(/img/v0.4.0/icons/active/published_with_changes.svg);
}

.theme-doc-sidebar-item-category-level-1 a::before,
.theme-doc-sidebar-item-category-level-2 a::before {
  content: none;
}

.theme-doc-sidebar-item-category-level-1
  ul
  .theme-doc-sidebar-item-category-level-2
  div
  .menu__link.menu__link--sublist.menu__link--sublist-caret {
  display: grid;
  grid-template-columns: 1fr 11px;
}

.theme-doc-sidebar-item-category-level-1
  ul
  .theme-doc-sidebar-item-category-level-2
  div
  .menu__link.menu__link--sublist.menu__link--sublist-caret::before,
.theme-doc-sidebar-item-category-level-1
  ul
  .theme-doc-sidebar-item-category-level-2
  div
  .menu__link.menu__link--sublist.menu__link--sublist-caret.menu__link--active::before {
  content: none;
  background: none;
}

/* Welcome page css */
.welcomeCard {
  background-color: var(--primary-green);
  border-radius: 10px;
  margin-top: 40px;
  padding: 20px;
}

.welcomeCard h2,
.welcomeCard a,
.welcomeCard p {
  color: var(--primary-white);
}

.welcomeCard p {
  margin: 0;
}
