.cardItem {
  background-color: var(--color-black);
  background-color: var(--color-lightgray);
  border-radius: 6px;
  width: 100%;
  min-height: 152px;
  color: var(--color-white);
  user-select: none;
  position: relative;
}

.cardItem:hover {
  transform: translateY(-1%);
}

.cardItemHead {
  height: 60px;
  line-height: 60px;
  position: relative;
  text-transform: uppercase;
}

.cardItemSvg,
.cardItemSvg svg {
  border-radius: 6px 6px 0px 0px;
  width: 100%;
  height: 60px;
}

.cardItemTitle {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 0px 20px;
  position: absolute;
  top: 0;
  left: 0;
}

.cardItemTitle div {
  font-size: 1.35rem;
  font-weight: 500;
}

.cardItemDescription {
  color: var(--color-lightgray);
  color: var(--color-black);
  padding: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  grid-gap: 34px;
  justify-items: center;
  max-width: 100%;
} 
