.usecaseCardV2 {
  border: 1px solid var(--secondary-black-10);
  border-radius: 8px;
  width: 100%;
  padding: 30px 20px 20px 20px;
  position: relative;
  text-align: center;
}

.usecaseCardIconV2 {
  background-color: var(--secondary-green-15);
  border-radius: 8px;
  display: inline-block;
  width: 54px;
  height: 54px;
  line-height: 54px;
}

.usecaseCardIconV2 svg {
  font-size: 30px;
  height: 54px;
}

.usecaseCardIconV2 svg path {
  fill: var(--primary-green);
}

.usecaseDescriptionV2 {
  color: var(--secondary-black-80);
  font-size: 0.875rem;
  line-height: 1.375rem;
  margin-top: 6px;
}

.usecaseCardsV2 {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.usecaseCardV2 h3 {
  margin: 10px 0px
}

.usecaseCardLinkV2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  width: 28px;
  border-radius: 8px;
  padding: 2px;
  position: absolute;
  top: 14px;
  right: 14px;
}