.projectCard {
  width: 100%;
  margin-bottom: 24px;
}

.projectCardTitle {
  border-bottom: 1px solid var(--ifm-color-emphasis-300);
}

.projectCardTitle div {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.1;
}

.projectCardUrl {
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 10px 20px;
}

.projectCardIcon {
  height: 30px;
}

.projectCardIcon svg {
  width: auto;
  height: 24px;
  margin-right: 20px;
}
