.projectCard {
  padding-bottom: 10px;
}

.projectCardUrl {
  display: flex;
  align-items: center;
  font-size: 1rem;
  line-height: 1.625rem;
  padding: 10px 20px;
}

.projectCardIcon {
  height: 24px;
}

.projectCardIcon svg {
  width: auto;
  height: 24px;
  margin-right: 10px;
}

.projectCards {
  display: grid;
  grid-template-rows: repeat(auto, 1fr);
  align-items: flex-start;
  grid-gap: 24px;
}
